.campo-digitacao{
    font-size: 20px;
    height: 130px;
}

.frase{
    font-size: 20px;
    text-align: left;
}

.campo-desativado{
    background-color: lightgray;
}

.campo-correto{
    border: 6px solid greenyellow;
}

.campo-errado{
    border: 6px solid red;
}
.placar{
    display: none;
}

#erro{
 color: red;
 display: none;
}

#spinner{
    display: none;
}
#frase-id{
    width: 40px;
}

#botao-sync{
    float: right;
}

.select-usuarios{
    display: inline-block;
}

.selectize-control{
    width: 150px;
    vertical-align: middle;
}